<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <h2>Analisis de sentimiento</h2>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">
                            <h4>Volver a inicio</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    <table id="data" class="table table-striped">
        <thead>
          <tr>
            <th>Nombre usuario</th>
            <th>Comentarios</th>
            <th>Fecha</th>
            <th>Analisis de sentimiento</th>
          </tr>
        </thead>

        <tbody>
          {% for i in post %}
            <tr>
              <td>{{ i[0] }}</td>
              <td>{{ i[1] }}</td>
              <td>{{ i[2]|string }}</td>
              <td> {{ i[3] }} </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endblock %}

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

    {% block scripts %}
    <script>
      $(document).ready(function () {
        $('#data').DataTable();
      });
    </script>
  {% endblock %}
<!--
https://blog.miguelgrinberg.com/post/beautiful-interactive-tables-for-your-flask-templates
https://github.com/miguelgrinberg/flask-tables/blob/main/templates/basic_table.html

-->


</body>
</html>